In [38]:
import numpy as np
import pandas as pd
import os
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import regex as re
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
root_dir='/Users/guptadhruv51/Desktop/Github/fake-news'

In [40]:
train_data=pd.read_csv(os.path.join(root_dir+'/train.csv'))
train_data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [41]:
test_data=pd.read_csv(os.path.join(root_dir+'/test.csv'))
test_data.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [42]:
X=train_data.drop('label',axis=1)
y=train_data['label']
X.head()

,id,title,author,text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [43]:
y.value_counts()

1    10413
0    10387
Name: label, dtype: int64

In [44]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer, HashingVectorizer

In [45]:
train_data=train_data.dropna()

In [46]:
messages=train_data.copy()

In [47]:
messages.reset_index(inplace=True)

In [48]:
messages['title'][10]

'Russian Researchers Discover Secret Nazi Military Base ‘Treasure Hunter’ in the Arctic [Photos]'

In [49]:
corpus=[]
ps=PorterStemmer()
for i in range(len(messages)):
    review=re.sub('[^a-zA-Z]',' ',messages['title'][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if word not in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

# Using Bag Of Words

In [50]:
cv=CountVectorizer(max_features=5000,ngram_range=(1,3))
X=cv.fit_transform(corpus).toarray()

In [51]:
X.shape

(18285, 5000)

In [52]:
y=messages['label']

In [53]:
#Divide Dataset into train and validate

In [54]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.3)

In [55]:
print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)

(12799, 5000) (12799,)
(5486, 5000) (5486,)

In [56]:
corpus_dataset=pd.DataFrame(X_train,columns=cv.get_feature_names())
corpus_dataset.head()

,abandon,abc,abc news,abduct,abe,abedin,abl,abort,abroad,absolut,...,zero,zika,zika viru,zionist,zone,zone new,zone new york,zoo,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### MultinomialNB Algo

In [57]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
import itertools

In [58]:
classifier=MultinomialNB()
classifier.fit(X_train,y_train)
pred=classifier.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))

Accuracy 0.8973751367116296

In [59]:
cm=metrics.confusion_matrix(y_val,pred)
cm

array([[2794,  327],
       [ 236, 2129]])

### Passive Aggressive Algorithm

In [60]:
from sklearn.linear_model import PassiveAggressiveClassifier
clf=PassiveAggressiveClassifier()

In [61]:
clf.fit(X_train,y_train)
pred=clf.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))
cm=metrics.confusion_matrix(y_val,pred)
cm

Accuracy 0.9163324826831936

array([[2862,  259],
       [ 200, 2165]])

### Multinomial With Hyperparamter

In [62]:
classifier=MultinomialNB(alpha=0.1)

In [63]:
previous_score=0
for alpha in np.arange(0,1,0.1):
    sub_classifier=MultinomialNB(alpha=alpha)
    sub_classifier.fit(X_train,y_train)
    pred=sub_classifier.predict(X_val)
    score=metrics.accuracy_score(y_val,pred)
    if score> previous_score:
        classifier=sub_classifier
    print('Alpha: {}, Score: {}'.format(alpha,score))

/Users/guptadhruv51/anaconda3/lib/python3.6/site-packages/sklearn/naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Alpha: 0.0, Score: 0.8773240977032446
Alpha: 0.1, Score: 0.8940940576011666
Alpha: 0.2, Score: 0.8955523149835946
Alpha: 0.30000000000000004, Score: 0.8962814436748086
Alpha: 0.4, Score: 0.8959168793292016
Alpha: 0.5, Score: 0.8960991615020051
Alpha: 0.6000000000000001, Score: 0.8953700328107911
Alpha: 0.7000000000000001, Score: 0.8955523149835946
Alpha: 0.8, Score: 0.8955523149835946
Alpha: 0.9, Score: 0.8959168793292016

In [64]:
#get Feature Names
feature_names=cv.get_feature_names()

In [65]:
classifier.coef_[0]

array([ -8.95857063,  -8.66666023,  -9.37254643, ..., -10.8388835 ,
        -8.66666023,  -9.37254643])

In [66]:
#Most Real Words
sorted(zip(classifier.coef_[0],feature_names),reverse=True)[:20]

[(-3.9368110049693836, 'trump'),
 (-4.303964810450322, 'hillari'),
 (-4.388062078317242, 'clinton'),
 (-4.814897984227171, 'elect'),
 (-5.173226043510751, 'new'),
 (-5.208468531785819, 'video'),
 (-5.300237758199675, 'comment'),
 (-5.322323461553487, 'war'),
 (-5.349486743207621, 'us'),
 (-5.425750459839404, 'hillari clinton'),
 (-5.440720799298269, 'fbi'),
 (-5.4713510652465125, 'vote'),
 (-5.4923052106507315, 'email'),
 (-5.59244439503665, 'obama'),
 (-5.628183755592643, 'world'),
 (-5.665247911615525, 'donald'),
 (-5.703738872223179, 'donald trump'),
 (-5.771377900222374, 'russia'),
 (-5.828989221944486, 'day'),
 (-5.843926019438996, 'break')]

In [67]:
#Most Fake Words
sorted(zip(classifier.coef_[0],feature_names))[:20]

[(-10.838883500816022, 'abroad'),
 (-10.838883500816022, 'abus new'),
 (-10.838883500816022, 'abus new york'),
 (-10.838883500816022, 'act new'),
 (-10.838883500816022, 'act new york'),
 (-10.838883500816022, 'adult'),
 (-10.838883500816022, 'advic'),
 (-10.838883500816022, 'advis new'),
 (-10.838883500816022, 'advis new york'),
 (-10.838883500816022, 'age new'),
 (-10.838883500816022, 'age new york'),
 (-10.838883500816022, 'agenda breitbart'),
 (-10.838883500816022, 'aleppo new'),
 (-10.838883500816022, 'aleppo new york'),
 (-10.838883500816022, 'ali'),
 (-10.838883500816022, 'america breitbart'),
 (-10.838883500816022, 'america new york'),
 (-10.838883500816022, 'american breitbart'),
 (-10.838883500816022, 'american new'),
 (-10.838883500816022, 'american new york')]

# Using Tf-Idf

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [69]:
messages.head(10)

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
7,9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0
8,10,10,Obama’s Organizing for Action Partners with So...,Aaron Klein,"Organizing for Action, the activist group that...",0
9,11,11,"BBC Comedy Sketch ""Real Housewives of ISIS"" Ca...",Chris Tomlinson,The BBC produced spoof on the “Real Housewives...,0

In [70]:
y=messages['label']

In [78]:
corpus=[]
ps=PorterStemmer()
for i in range(0,len(messages)):
    review=re.sub('[^a-zA-Z]',' ',messages['title'][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if word not in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [79]:
corpus[3]

'civilian kill singl us airstrik identifi'

In [80]:
tfidf_vc=TfidfVectorizer(max_features=5000,ngram_range=(1,3))
X=tfidf_vc.fit_transform(corpus).toarray()
print(X.shape)

Exception ignored in: <bound method SeekableUnicodeStreamReader.__del__ of <nltk.data.SeekableUnicodeStreamReader object at 0x124d56d68>>
Traceback (most recent call last):
  File "/Users/guptadhruv51/anaconda3/lib/python3.6/site-packages/nltk/data.py", line 1280, in __del__
    if not self.closed:
  File "/Users/guptadhruv51/anaconda3/lib/python3.6/site-packages/nltk/data.py", line 1294, in closed
    return self.stream.closed
AttributeError: 'SeekableUnicodeStreamReader' object has no attribute 'stream'

(18285, 5000)

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.3,random_state=0)
print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)

(12799, 5000) (12799,)
(5486, 5000) (5486,)

In [82]:
tfidf_vc.get_feature_names()[:20]

['abandon',
 'abc',
 'abc news',
 'abduct',
 'abe',
 'abedin',
 'abl',
 'abort',
 'abroad',
 'absolut',
 'abstain',
 'absurd',
 'abus',
 'abus new',
 'abus new york',
 'academi',
 'accept',
 'access',
 'access pipelin',
 'access pipelin protest']

In [84]:
count_df=pd.DataFrame(X_train,columns=tfidf_vc.get_feature_names())
count_df.head()

,abandon,abc,abc news,abduct,abe,abedin,abl,abort,abroad,absolut,...,zero,zika,zika viru,zionist,zone,zone new,zone new york,zoo,zu,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### MultinomialNB

In [89]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [90]:
classifier=MultinomialNB()
classifier.fit(X_train,y_train)
pred=classifier.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))

Accuracy 0.8833394094057602

### Passive Aggressive Classifier

In [91]:
from sklearn.linear_model import PassiveAggressiveClassifier
clf=PassiveAggressiveClassifier()

In [92]:
clf.fit(X_train,y_train)
pred=clf.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))
cm=metrics.confusion_matrix(y_val,pred)
cm

Accuracy 0.9156033539919796

array([[2825,  259],
       [ 204, 2198]])

### Multinomial With Hyperparamter

In [93]:
classifier=MultinomialNB(alpha=0.1)

In [94]:
previous_score=0
for alpha in np.arange(0,1,0.1):
    sub_classifier=MultinomialNB(alpha=alpha)
    sub_classifier.fit(X_train,y_train)
    pred=sub_classifier.predict(X_val)
    score=metrics.accuracy_score(y_val,pred)
    if score> previous_score:
        classifier=sub_classifier
    print('Alpha: {}, Score: {}'.format(alpha,score))

/Users/guptadhruv51/anaconda3/lib/python3.6/site-packages/sklearn/naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Alpha: 0.0, Score: 0.8682099890630697
Alpha: 0.1, Score: 0.8806051768137076
Alpha: 0.2, Score: 0.8829748450601531
Alpha: 0.30000000000000004, Score: 0.8840685380969742
Alpha: 0.4, Score: 0.8853445133065986
Alpha: 0.5, Score: 0.8840685380969742
Alpha: 0.6000000000000001, Score: 0.8849799489609916
Alpha: 0.7000000000000001, Score: 0.8842508202697776
Alpha: 0.8, Score: 0.8842508202697776
Alpha: 0.9, Score: 0.8840685380969742

# Using Hashing Vectorizer

In [104]:
from sklearn.feature_extraction.text import HashingVectorizer
hash_vc=HashingVectorizer(n_features=5000,alternate_sign=False)
X=hash_vc.fit_transform(corpus).toarray()
print(X.shape)

(18285, 5000)

In [105]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.3,random_state=0)
print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)

(12799, 5000) (12799,)
(5486, 5000) (5486,)

In [108]:
classifier=MultinomialNB()
classifier.fit(X_train,y_train)
pred=classifier.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))
cm=metrics.confusion_matrix(y_val,pred)
print(cm)

Accuracy 0.8709442216551221
[[2894  190]
 [ 518 1884]]

In [109]:
from sklearn.linear_model import PassiveAggressiveClassifier
clf=PassiveAggressiveClassifier()

In [110]:
clf.fit(X_train,y_train)
pred=clf.predict(X_val)
score=metrics.accuracy_score(y_val,pred)
print("Accuracy "+str(score))
cm=metrics.confusion_matrix(y_val,pred)
cm

Accuracy 0.8979219832300401

array([[2800,  284],
       [ 276, 2126]])

In [111]:
classifier=MultinomialNB(alpha=0.1)
previous_score=0
for alpha in np.arange(0,1,0.1):
    sub_classifier=MultinomialNB(alpha=alpha)
    sub_classifier.fit(X_train,y_train)
    pred=sub_classifier.predict(X_val)
    score=metrics.accuracy_score(y_val,pred)
    if score> previous_score:
        classifier=sub_classifier
    print('Alpha: {}, Score: {}'.format(alpha,score))

/Users/guptadhruv51/anaconda3/lib/python3.6/site-packages/sklearn/naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Alpha: 0.0, Score: 0.8295661684287277
Alpha: 0.1, Score: 0.8703973751367117
Alpha: 0.2, Score: 0.8724024790375501
Alpha: 0.30000000000000004, Score: 0.8747721472839957
Alpha: 0.4, Score: 0.8753189938024061
Alpha: 0.5, Score: 0.8751367116296026
Alpha: 0.6000000000000001, Score: 0.8760481224936201
Alpha: 0.7000000000000001, Score: 0.8742253007655851
Alpha: 0.8, Score: 0.8733138899015677
Alpha: 0.9, Score: 0.8711265038279257